listen {{ name }}
    bind 192.168.121.12:ServicePort
    {%- for node_ip in node_ips %}
    server {{ prefix }}{{ name }}{{ postfix }} {{ node_ip }}:{{ node_port }} check
    {%- endfor %}


    ## Format:
    ## listen apache
    ##   bind 192.168.121.12:ServicePort
    ##   server pod1 10.246.82.10:NodePort check
    ##   server pod2 10.246.82.9:31380 check

listen {{ namespace }}.{{ name }}.{{ node_port }}
    bind *:{{ node_port }}
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    option httpchk HEAD / HTTP/1.1\r\nHost:localhost


    echo "listen ${NameSpace}.${Service}.${ServicePort}"   >> ${ServiceFileName}
    echo -e "\t bind *:${ServicePort}"    >> ${ServiceFileName} 
    echo -e "\t option forwardfor"   >> ${ServiceFileName}

    ## I am not sure about the following options. Do we need them in every service?
    ## echo -e "\t http-request set-header X-Forwarded-Port %[dst_port]"    >> ${ServiceFileName}
    ## echo -e "\t http-request add-header X-Forwarded-Proto https if { ssl_fc }"    >> ${ServiceFileName}
    ## echo -e "\t option httpchk HEAD / HTTP/1.1\r\nHost:localhost"    >> ${ServiceFileName}

    i=1
    # printf '%s\n' "$Nodes" | while IFS= read -r line
    for IP in $(getNodeIPs);  do
      # local nodeIP=$(getNodeIPs $line)
      echo -e "\t server Node_${i} ${IP}:${NodePort} check"    >> ${ServiceFileName}
      i=$((i+1))
    done

upstream {{ name }} {
    {%- for node_ip in node_ips %}
    server {{ node_ip }}:{{ node_port }} max_fails=3 fail_timeout=30s;
    {%- endfor %}
}

server {
    listen 80;
    server_name {{ prefix }}{{ name }}{{ postfix }};
    return 301 https://$host$request_uri;
}

server {
    listen 443;
    server_name {{ prefix }}{{ name }}{{ postfix }};

    location / {
            proxy_pass http://{{ name }};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
    }
}

